<!DOCTYPE HTML>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Category</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Category</h1>
	<div>
		<form th:object="${category}" th:action="@{savecat}" action="#" method="post">
				<label for="name">Nimi</label>
			<input type="text" id="nimi" th:field="*{nimi}">
		<input type="submit" class="btn btn-success">
			  	<a href="/pelilist" class="btn btn-danger">Peruuta</a>
	</form>
	</div><br>
	
		
</body>
</html>