<!DOCTYPE HTML>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Category List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kategoriat</h1>
	<h3 th:inline="text"> Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
		<table class="table table-striped">
		<tr>
			<th>Nimi</th>
			<th></th>
		</tr>
		<tr th:each = "category : ${categories}">
		<td th:text="${category.nimi}"></td>
		<td th:text="${category.id}"></td>
		</tr>		
		</table>
		
		<a href="/addcategory" class="btn btn-success">Lisää Kategoria</a>
		<br>
		<br>
  	<a href="/pelilist" class="btn btn-info">Pelilista</a>

		
</body>
</html>